
body, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #65e43f;
    background-color: #28628b3f;
    padding: 10px 20px;
    position: relative;
}


.logo img {
    width: 100px;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #ed9141;
    font-size: 22px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #4caf50;
    border-bottom:1.8px solid #4caf50;
}


@media (max-width: 768px) {
    
     .navbar{
        display:flex;
        flex-direction: column;
        background-color: #f2b6825f;

     }

    
     .nav-links a {
        color: #1a3b53;
       
        font-size: 22px;
        transition: color 0.3s;
    }
    .nav-links a:hover {
        color: #22a92b;
        border-bottom:1.8px solid #edf7ee;
     
    }
    
}
